html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 12px;
}

p {
    text-align: justify;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}

.h2, h2 {
    font-size: 1.8em;
}

.btn {
    padding: 0.5em 0.5em;
}

.btn img {
  width: 2em;
  height: 2em;
}

/*
Main panels and responsive special classes
*/
.wrap-3col {
    display: grid;
    grid-template-columns: 25em auto 25em;
    grid-template-rows: auto;
}
.wrap-2col-left {
    display: grid;
    grid-template-columns: 25em auto;
    grid-template-rows: auto;
}
.wrap-2col-right {
    display: grid;
    grid-template-columns: auto 25em;
    grid-template-rows: auto;
}
.wrap-2row {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}
.wrap-full {
    display: block;
    height: 100vh;
}

.full-height {
    height: 100vh;
}
.half-height {
    height: 50vh;
}

.main-item {
    padding-top: 3.5em;
}

.big-panel {
    overflow: auto;
    padding: 1em;
    height: 100%;
}

#tool-panel {
    display: none;
}

#help-panel {
    display: none;
}

#love-panel {
    display: none;
}

#render-canvas {
    width   : 100%;
}

.btn-love-left {
    left: 4em;
}
.btn-help-left {
    left: 7.7em;
}
.btn-love-right {
    right: 4em;
}
.btn-help-right {
    right: 0.3em;
}

.order-1 {
    order: 1;
}
.order-2 {
    order: 2;
}

/* Elements */
.btn {
    font-size: 1em;
}

.corner-btn {
    z-index: 11;
}

#loading_screen {
    position: absolute;
    width: 100%;
    padding: 1em;
    color: white;
    background-color:black;
    font-size: 2em;
    z-index: 12;
}

#tool-btn {
    position: absolute;
    top: 0.3em;
    left: 0.3em;
}

#help-btn {
    position: absolute;
    top: 0.3em;
}

#love-btn {
    position: absolute;
    top: 0.3em;
}

.slider {
    padding-top: 1em;
}

.slider input[type=range] {
    display: inline-block;
    width: 70%;
}

.slider label {
    display: inline-block;
    float: left;
}

.align-center {
    text-align: center;
    margin-bottom: 1em;
}

.checkbox {
    margin-bottom: 1em;
}

.checkbox-label {
    margin-right: 1em;
}

.time-label {
    font-weight: normal;
    color: grey;
    float: left;
}

.time-date {
    font-family:monospace;
    font-weight: bold;
}

#time-display {
    text-align: right;
}

#speed-display {
    margin: 0.5em;
    padding: 0.5em;
    font-family:monospace;
    font-weight: bold;
    border-radius: 3px;
    border: 2px solid grey;
}

/* a special disabled looking class
   to avoid buggy use of "disabled" attribute */
.disabledbtn, .disabledbtn:focus {
    cursor: not-allowed;
    pointer-events: none;
    color: #c0c0c0;
    background-color: #ffffff;
    border-color: #c0c0c0;
}


