<div class="big-panel">

    <h2>{{ _('What is Astrini?') }}</h2>
    {{ _('<p>Astrini is a mini-educational software designed to assist <em>teaching of basic notions in astronomy</em> by explaining the reason behind:</p>
    <ul>
        <li>seasons</li>
        <li>phases of the Moon and Earth</li>
        <li>eclipses of Moon and Earth</li>
    </ul>
    <p>It is designed to be used in a short self-contained educational module. It may be used by the pupil on her or his own, but we recommend it for an use under the teacher’s guidance.</p>
    <p>The key idea of Astrini is <strong>manipulation</strong>. Astronomy software (e.g. Stellarium) allows you to change your position in space and time, or to visualize stars below the horizon, but does not in general allow you to change any facts – it works like a virtual observatory.</p>
    <p>Astrini, on the other hand, lets you <strong>modify</strong> some facts of the model: the tilt of the Earth’s axis, and the tilt of the orbit of the Moon.</p>
    <p>Astrini is thus <em>not a virtual observatory</em>. It turns Sun, Earth and Moon into toys one can play with. <strong>Why?</strong></p>
    <p>The actual parameters of the Sun-Earth-Moon system are a bit <strong>too complicated</strong> for one’s first steps in astronomy. By understanding how a simplified model works, one can create a <em>confidence zone</em> for understanding more complex facts. Access to these more complex facts will be triggered by the key question, why don’t things happen as in the model?</p>
    <ul>
        <li>Why don’t we have one eclipse per month?</li>
        <li>Why are day and night almost always of different length?</li>
        <li>etc…</li>
    </ul>
    <p><em>We hope you will enjoy Astrini.</em> </p>') }}


    <h2 id="what-can-you-do-in-astrini">{{ _('What can you do in Astrini?') }}</h2>
    <p>{{ _('You can first choose where to go to.') }}</p>

    <p>{{ _('At option, Earth, Moon, Sun or Ext (for exterior, i.e. outside of system).') }}</p>
    <h2 id="look">{{ _('Look') }}</h2>
    <p>{{ _('Then you can determine what to look at.') }}</p>

    <h2 id="free-camera">{{ _('Move the camera freely') }}</h2>
    <p>{{ _('By clicking on the "Free Camera" button you will be able to rotate the camera by clicking and dragging in the main view. You can also move the camera by pressing the arrow keys on your keyboard. Notice that when the system is in realistic scale it will take a while to travel from the Sun to the Earth as they are pretty far appart.') }}</p>

    <h2 id="speed-adjustment">{{ _('Speed adjustment') }}</h2>
    <p>{{ _('Set the pace (+ or even ++) at which the celestial bodies rotate and spin.') }}</p>

    <p>{{ _('The <strong>-1</strong> key runs time backwards. You can <strong>Pause</strong> or take the configuration back to the present (<strong>Now</strong>).') }}</p>
    <h2 id="travel-in-time">{{ _('Travel in time.') }}</h2>
    <p>{{ _('Jump forward in time, of one day, one month, one season or year.') }}</p>
    <p>{{ _('Just below the keys for changing speed, the display keep tracks of (fictitious but realistic) time and date.') }}</p>
    <h2 id="factual-changes">{{ _('Factual changes') }}</h2>
    <p>{{ _('The important keys in Astrini are those that change some parameters of celestial motions.') }}</p>

    <p>{{ _('Astrini comes with an inbuilt wrong astronomy. In Astrini, the orbit of the Moon is not tilted relative to the plane of the orbit of the Earth, and the Earth’s axis is not tilted relative to the plane of the orbit of the Earth. But you can revert to the actual parameters by clicking on the keys <strong>Moon</strong> and <strong>Earth</strong>, and even exaggerate a bit the tilt of the Moon’s orbit (<strong>Moon+</strong>), so as to make eclipses harder to occurr.') }}</p>
    <p>{{ _('Astrini comes with an inbuilt modified scale, so that you can see all the actors in the same scene. Push <strong>Scale</strong> to scale realistically the whole system.') }}</p>
    <h2 id="display-options">{{ _('Display options') }}</h2>
    <p>{{ _('Toggle display options.') }}</p>

    <p>{{ _('Finally, Astrini lets you visualize <strong>Shadows</strong> cast by Earth and Moon, orbits and pointers (<strong>Mark</strong>) and fictitious <strong>Stars</strong> that enhance the feeling of motion.') }}</p>
    <h2 id="non-blocking-interactions">{{ _('Non blocking interactions') }}</h2>
    <p>{{ _('We present next some simple activities you can perform on Astrini. No matter what the activity you are involved in, you can always change wiewpoint, speed, and object you are looking at, by using any of the above keys.') }}</p>

    <!--
        Activities
    -->
    <h2>{{ _('Activities') }}</h2>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title" id="one-eclipse-each-month">
                <a data-toggle="collapse" data-parent="#activities-panel" href="#one-eclipse-each-month-content"><span class="glyphicon glyphicon-plus"></span>
                    {{ _('One eclipse each month!') }}</a>
            </h2>
        </div>
        <div id="one-eclipse-each-month-content" class="panel-collapse collapse">
            <div class="panel-body">
                <p>{{ _('Do not touch any of the Factual Changes keys for the time being. <strong>Go to: Moon</strong>, <strong>Look at: Earth</strong>, and speed up time as much as you need (+ or ++). At some point you will see the Sun pass behind the Earth, and after a while the shadow of the Moon will pass over the Earth. These are the eclipses.') }}</p>
                <p>{{ _('Count the rotations of the Earth between two eclipses.  You can count the times your favorite continent reappears. (About 14 rotations, i.e. about half a month.)') }}</p>
                <p>{{ _('Define the Eclipses and apply your knowledge to what you observe. <strong>Activate Shadows</strong> and change viewpoint.') }}</p>
                <p>{{ _('The good question, at this point, is: <em>why don’t we have one eclipse of the Sun and one eclipse of the Moon each month?</em> The answer is in the fact that the orbit of the Moon around the Earth is not in the same plane as the orbit of the Earth around the Sun. You can see it for yourself by pressing <strong>Display: Markers</strong> and <strong>Factual changes: Moon+</strong>. Go to any of the celestial bodies and note when you can see eclipses. When you see one, Pause, then go to other bodies or change the Speed in many ways, and comment on each perspective.') }}</p>
                <p>{{ _('Note: in the default situation (same orbiting plane), if you go to the Moon or to the Sun and look at Earth, you will note that eclipses of the Sun occur at the Equator only.') }}</p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title" id="no-more-seasons">
                <a data-toggle="collapse" data-parent="#activities-panel" href="#no-more-seasons-content"><span class="glyphicon glyphicon-plus"></span>
                    {{ _('No more seasons!') }}</a>
            </h2>
        </div>
        <div id="no-more-seasons-content" class="panel-collapse collapse">
            <div class="panel-body">
                <p>{{ _('Days have the same length at nights only at the Equinoxes. Astrini’s default is a constant equinox! Thus, no seasons, unless you modify the <strong>Factual change: Earth tilt</strong> parameter. A good vantage point is the Sun hence <strong>Go to: Sun</strong>, then <strong>Look at: Earth</strong>.</p>
                <p>Before the factual change, you’ll see the same show on Earth each day, day after day. After the change, the show is different each day. One of the poles will be invisible half of the time (half year: count the revolutions of the Moon, each of which corresponds to approximately one month), while the other will be visible.') }}</p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title" id="it-moves">
                <a data-toggle="collapse" data-parent="#activities-panel" href="#it-moves-content"><span class="glyphicon glyphicon-plus"></span>
                    {{ _('It moves!') }}</a>
            </h2>
        </div>
        <div id="it-moves-content" class="panel-collapse collapse">
            <div class="panel-body">
                <p>{{ _('<strong>Go to: Moon</strong> and <strong>Look at: Earth</strong>. You will see it spin. The Earth’s rotation was not an agreed upon fact for many centuries, because we do not have a clear feeling that the Earth spins. But if you were an astronomer living on the Moon, you would just see that the Earth spins.') }}</p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title" id="night-and-day-on-the-moon">
                <a data-toggle="collapse" data-parent="#activities-panel" href="#night-and-day-on-the-moon-content"><span class="glyphicon glyphicon-plus"></span>
                    {{ _('Night and day on the Moon') }}</a>
            </h2>
        </div>
        <div id="night-and-day-on-the-moon-content" class="panel-collapse collapse">
            <div class="panel-body">
                <p>{{ _('<strong>Go to: Earth</strong> and <strong>Look at: Moon</strong>, and accelerate time a bit (++ a couple of times). You will see the phases of the Moon, i.e. cycles of  night and day on the Moon.') }}</p>
                <p>{{ _('Note: Astrini idealizes your position and puts you at the imaginary center of the celestial bodies in the model. Hence changes of tilt in the Earth’s axis and the rotation of the Earth do not entail different views.') }}</p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title" id="does-the-moon-spin">
                <a data-toggle="collapse" data-parent="#activities-panel" href="#does-the-moon-spin-content"><span class="glyphicon glyphicon-plus"></span>
                    {{ _('Does the Moon Spin?') }}</a>
            </h2>
        </div>
        <div id="does-the-moon-spin-content" class="panel-collapse collapse">
            <div class="panel-body">
                <p>{{ _('It does, but as we always see the same face of the Moon, we may be inclined to think it doesn’t. Here too change of viewpoint helps realize what goes on. <strong>Go to: Sun</strong>, <strong>Look at: Moon</strong>, and you will see that te Moon does spin. From the Sun’s point of view the fact that the Moon always shows the same face to the Earth can only mean that it has to spin.') }}</p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title" id="phases-in-sync">
                <a data-toggle="collapse" data-parent="#activities-panel" href="#phases-in-sync-content"><span class="glyphicon glyphicon-plus"></span>
                    {{ _('Phases in sync') }}</a>
            </h2>
        </div>
        <div id="phases-in-sync-content" class="panel-collapse collapse">
            <div class="panel-body">
                <p>{{ _('Moon and Earth have the same phase relative to the Sun, but inverted phases relative to each other’s viewpoint. <strong>Go to: Earth</strong> and <strong>Look at: Moon</strong>, and wait until New Moon appears. At this point switch viewpoints, <strong>Go to: Moon</strong>, and <strong>Look at: Earth</strong>, and you’ll see a Full Earth. If you perfom this switch at other times of the cycle, you’ll see a Waning Moon correspond to a Waxing Earth, and viceversa. And First Quarter on the Moon will correspond to Last Quarter on Earth, and viceversa.') }}</p>
                <p>{{ _('Try out Shadows in this activity.') }}</p>
                <p>{{ _('Observe that if you go to the Sun, it is pointless to activate Shadows. You are the source of light, therefore you cannot see the shadows you cast!') }}</p>
            </div>
        </div>
    </div>

</div>
