<div class="big-panel">

<h2 id="references">{{ _('References') }}</h2>
{{ _('<ul>
<li>Idea: <strong>Roberto Casati</strong></li>
<li>Design: <strong>Roberto Casati, Glen Lomax</strong></li>
<li>Code: <strong>Glen Lomax</strong></li>
</ul>') }}
<p>{{ _('Casati, R., 2013, Dov’e il Sole di notte? Lezioni atipiche di astronomia. Milano: Raffaello Cortina.') }}</p>
<h3 id="licence-and-copyright-policy">{{ _('Licence and copyright policy') }}</h3>
<p>{{ _('Astrini’s first version was designed during an internship at the CogMaster (ENS-EHESS-Paris5). The current version is distributed freely under the <a href="http://www.gnu.org/licenses/agpl-3.0.txt">GPL</a>. Roberto Casati and Glen Lomax are the original developers.') }}</p>
<h3 id="donations">{{ _('Donations') }}</h3>
<p>{{ _('Even small donations keep volunteer work afloat!') }}</p>


<h2 id="foundations">{{ _('Foundations') }}</h2>
{% autoescape false %}
<p>{{ _('Astrini is coded in Javascript and uses %(bjs)s as its 3D engine and %(bootstrap)s for its user interface.', bootstrap='<a href="https://getbootstrap.com/">Bootstrap</a>', bjs='<a href="https://www.babylonjs.com/">BabylonJS</a>') }}</p>
{% endautoescape %}
<h2>RGPD</h2>

<div id="dev-panel"></div>

</div>
