<!DOCTYPE html>
<html lang="{{ _('en') }}">
<head>
    <meta charset="UTF-8">
    <title>Astrini</title>
    <!-- Favicon-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.ico') }}">
    <!-- Libraries -->
    <script src="static/js/lib/babylon.js"></script>
    <!--Packed and minified CSS-->
    {% assets "css_head" %}
    <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    <!--Iphone and Mobile browser support-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<!--Disable dragging-->
<body ondragstart="return false;">
    <div id="loading_screen">
        <p>{{ _('Loading Astrini...') }}</p>
    </div>

    <button id="tool-btn" class="btn btn-default corner-btn" type="button"
        aria-label="Main menu" onclick="ui_toggle_panel('tool-panel')"
        data-toggle="tooltip"
        title="{{ _('Play with Astrini !') }}">
        <img src="static/img/icons/tool.svg" alt="Main menu button">
    </button>

    <button id="help-btn" class="btn btn-default corner-btn" type="button"
        aria-label="Info menu" onclick="ui_toggle_panel('help-panel')"
        data-toggle="tooltip"
        title="{{ _('Explanations and help about Astrini') }}">
        <img src="static/img/icons/help.svg" alt="Information button">
    </button>

    <button id="love-btn" class="btn btn-default corner-btn" type="button"
        aria-label="Donate !" onclick="ui_toggle_panel('love-panel')"
        data-toggle="tooltip"
        title="{{
        _('If you like this software, please donate to keep volunteer work afloat !') }}">
        <img src="static/img/icons/love.svg" alt="Love button">
    </button>

    <div id="main-wrapper">
        <div id="tool-panel" class="main-item full-height">
            {% include 'tool.html' %}
        </div>
        <canvas id="render-canvas" class="full-height"></canvas>
        <div id="help-panel" class="main-item full-height">
            {% include 'help.html' %}
        </div>
        <div id="love-panel" class="main-item full-height">
            {% include 'love.html' %}
        </div>
    </div>

    <!--Packed and minified Javacript-->
    {% assets "js_tail" %}
    <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
</body>
</html>
