<div class="big-panel">

        <label class="control-label">{{ _('Look at:') }}</label>
        <div class="align-center">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default cam_control"
                 onclick="ui_cam_lock_on(window.scene.stage.sys.earth)"
            data-toggle="tooltip" data-placement="bottom" title="{{ _('Center view on Earth and follow it') }}">
            <input type="radio" name="options" id="look_earth">{{ _('Earth') }}
          </label>
          <label class="btn btn-default cam_control"
                 onclick="ui_cam_lock_on(window.scene.stage.sys.moon)"
          data-toggle="tooltip" data-placement="bottom" title="{{ _('Center view on Moon and follow it') }}">
            <input type="radio" name="options" id="look_moon">{{ _('Moon') }}
          </label>
          <label class="btn btn-default cam_control"
                 onclick="ui_cam_lock_on(window.scene.stage.sys.sun)"
          data-toggle="tooltip" data-placement="bottom" title="{{ _('Center view on Sun and follow it') }}">
            <input type="radio" name="options" id="look_sun">{{ _('Sun') }}
          </label>
        </div>
        <div class="slider align-center">
                <label>{{ _('Zoom:') }}</label>
        <input type="range" id="zoom-range" name="zoom"
                min="0" max="100" value="20">
        </div>
        </div>

        <label class="control-label">{{ _('Go to:') }}</label>
        <div class="align-center">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default cam_control"
                 onclick="ui_cam_go_to(window.scene.stage.sys.earth)"
            data-toggle="tooltip" data-placement="bottom" title="{{ _('Move camera to center of Earth and follow it') }}">
            <input type="radio" name="options" id="go_earth">{{ _('Earth') }}
          </label>
          <label class="btn btn-default cam_control"
                 onclick="ui_cam_go_to(window.scene.stage.sys.moon)"
            data-toggle="tooltip" data-placement="bottom" title="{{ _('Move camera to center of Moon and follow it') }}">
            <input type="radio" name="options" id="go_moon">{{ _('Moon') }}
          </label>
          <label class="btn btn-default cam_control"
                 onclick="ui_cam_go_to(window.scene.stage.sys.sun)"
            data-toggle="tooltip" data-placement="bottom" title="{{ _('Move camera to center of Sun') }}">
            <input type="radio" name="options" id="go_sun">{{ _('Sun') }}
          </label>
          <label class="btn btn-default cam_control"
                 onclick="ui_cam_go_to(window.scene.stage.home)"
          data-toggle="tooltip" data-placement="bottom" title="{{ _('Take an external point of view') }}">
            <input type="radio" name="options" id="go_ext">{{ _('Exterior') }}
          </label>
        </div>
        </div>

        <div class="align-center">
        <button id="tog_free_camera" type="button" class="btn btn-primary"
        title="{{ _('Release camera to freely explore') }}"
        onclick="ui_tog_free_camera()">{{ _('Free camera') }}</button>
        </div>
        <div class="slider align-center">
                <label>{{ _('Speed:') }}</label>
        <input type="range" id="speed-range" name="speed"
                min="0" max="10" value="1">
        </div>
        <div class="align-center">
            <span id="speed-display" data-toggle="tooltip" data-placement="bottom"
            title="{{ _('The current speed factor of simulation, written in scientific notation.') }}"></span>
        </div>
        <div class="align-center">
        <div class="btn-group" role="group" aria-label="time_controls">
          <button type="button" class="btn btn-default"
                                onclick="ui_reverse_speed()"
            data-toggle="tooltip" data-placement="top" title="{{ _('Reverse time flow of simulation') }}">{{ _('Reverse') }}</button>
          <button type="button" class="btn btn-default"
                                onclick="ui_toggle_speed()"
            data-toggle="tooltip" data-placement="top" title="{{ _('Pause or resume time flow of simulation') }}">{{ _('Play / Pause') }}</button>
          <button type="button" class="btn btn-default"
                                onclick="ui_reset_speed()"
            data-toggle="tooltip" data-placement="top" title="{{ _('Reset to current time at realtime speed') }}">{{ _('Reset') }}</button>
        </div>
        </div>

        <p id="time-display" class="well well-sm"
        data-toggle="tooltip" data-placement="bottom" title="{{ _('Time and date of current simulation') }}"></p>

        <label class="control-label">{{ _('Jump in futur:') }}</label>
        <div class="align-center">
        <div class="btn-group" role="group" aria-label="jump_controls">
            <button type="button" class="btn btn-default"
                                  onclick="window.scene.stage.time_jump(1)"
            data-toggle="tooltip" data-placement="bottom" title="{{ _('Jump one day in future') }}">{{ _('Day') }}</button>
            <button type="button" class="btn btn-default"
                                  onclick="window.scene.stage.time_jump(30.4)"
            data-toggle="tooltip" data-placement="bottom" title="{{ _('Jump one month in future') }}">{{ _('Month') }}</button>
            <button type="button" class="btn btn-default"
                                  onclick="window.scene.stage.time_jump(91.3)"
            data-toggle="tooltip" data-placement="bottom" title="{{ _('Jump one season in future') }}">{{ _('Season') }}</button>
            <button type="button" class="btn btn-default"
                                  onclick="window.scene.stage.time_jump(365.3)"
            data-toggle="tooltip" data-placement="bottom" title="{{ _('Jump one year in future') }}">{{ _('Year') }}</button>
        </div>
        </div>

        <label class="control-label">{{ _('Realist factual changes:') }}</label>
        <div class="checkbox">
            <label class="checkbox-label" data-toggle="tooltip" data-placement="bottom" title="{{ _('Toggle the realist Earth inclination') }}">
              <input type="checkbox" id="fact_earth" onchange="ui_toggle_fact_earth()">{{ _('Earth tilt') }}
            </label>
            <br>
            <label class="checkbox-label"  data-toggle="tooltip" data-placement="bottom" title="{{ _('Toggle the realist Moon orbit inclination') }}">
              <input type="checkbox" id="fact_moon" onchange="ui_toggle_fact_moon()">{{ _('Moon orbit tilt') }}
            </label>
            <br>
            <label class="checkbox-label"  data-toggle="tooltip" data-placement="bottom" title="{{ _('Toggle the non realist Moon orbit tilt, exagerated to limit the frequency of eclipses') }}">
              <input type="checkbox" id="fact_moon2" onchange="ui_toggle_fact_moon2()">{{ _('Exagerated moon orbit tilt') }}
            </label>
            <br>
            <label class="checkbox-label"  data-toggle="tooltip" data-placement="bottom" title="{{ _('Toggle the realist scaling of the sytem') }}">
              <input type="checkbox" id="fact_scale" onchange="ui_toggle_fact_scale()">{{ _('System scale') }}
            </label>
        </div>

        <label class="control-label">{{ _('Display:') }}</label>
        <div class="checkbox">
            <label class="checkbox-label" data-toggle="tooltip" data-placement="top" title="{{ _('Draw projected shadows visualization') }}">
              <input type="checkbox" id="tog_shadows" onchange="ui_toggle_shadows()">{{ _('Shadows') }}
            </label>
            <label class="checkbox-label" data-toggle="tooltip" data-placement="top" title="{{ _('Draw orbits and axis') }}">
              <input type="checkbox" id="tog_markers" onchange="ui_toggle_markers()">{{ _('Markers') }}
            </label>
            <label class="checkbox-label" data-toggle="tooltip" data-placement="top" title="{{ _('Draw a non realist star background') }}">
              <input type="checkbox" id="tog_stars" onchange="ui_toggle_stars()">{{ _('Stars') }}
            </label>
            <label class="checkbox-label" data-toggle="tooltip" data-placement="top" title="{{ _('Low rendering quality') }}">
              <input type="checkbox" id="tog_quality" onchange="ui_toggle_quality()">{{ _('Low quality') }}
            </label>
        </div>

</div>
